/* ここから下に記載していく */
/* 共通 */
body {
    margin: 0 auto;
    width: 1200px;
    text-align: center;
    font-size: 16px;
    color: #222222;
}

/* ヘッダー */
header {
    display: flex;
}

a {
    text-decoration: none;
}

nav {
    font-size: 21px;
}

.header-logo {
    float: left;
    margin: 0 auto;
}

.header-menu {
    display: flex;
}

.header-menu_2 {
    margin: 50px;
}

/* メイン */
.main {
    position: relative;
    width: 1200px;
}

.main-2 {
    text-align: center;
    color: white;
    font-size: 40px;
    white-space: nowrap;
    line-height: 90px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.main-3 {
    width: 1200px;
}

strong {
    font-weight: bold;
}

/* アバウト */
#about {
    font-size: 24px;
    font-weight: bold;
    margin-top: 60px;
    color: #ffd61a;
}

.about-2 {
    margin-top: 30px;
}

.about-3 {
    margin-top: 60px;
}

.about-4 {
    margin-top: 40px;
    line-height: 30px;
}

.about-5 {
    margin-top: 40px;
}

.about-6 {
    margin-top: 40px;
    line-height: 30px;
}

/* コース */
#course {
    font-size: 24px;
    font-weight: bold;
    margin-top: 60px;
}

.course-2 {
    margin-top: 60px;
    line-height: 30px;
}

.course-3 {
    margin-top: 60px;
}

.course-4 {
    float: right;
    width: 600px;
    height: 400px;
    background-color: #f5f5f5;
}

.course-5 {
    float: left;
    width: 600px;
    height: 400px;
}

.course-6 {
    font-size: 18px;
    text-align: left;
    padding-top: 120px;
    padding-left: 50px;
    font-weight: bold;
    /* background-color: #ffd61a; */
}

.course-7 {
    font-size: 16px;
    padding-left: 50px;
    padding-top: 40px;
    line-height: 30px;
    text-align: left;
    /* background-color: aqua; */
}

.course-8 {
    float: right;
    width: 600px;
    height: 400px;
}

.course-9 {
    float: left;
    width: 600px;
    height: 400px;
    background-color: #f5f5f5;
}

.course-10 {
    font-size: 18px;
    text-align: left;
    padding-top: 120px;
    padding-left: 110px;
    font-weight: bold;
    /* background-color: #ffd61a; */
}

.course-11 {
    font-size: 16px;
    padding-right: 50px;
    padding-left: 110px;
    padding-top: 40px;
    line-height: 30px;
    text-align: left;
    /* background-color: aqua; */
}

.course-12 {
    float: left;
    width: 600px;
    height: 400px;

}

.course-13 {
    float: right;
    width: 600px;
    height: 400px;
    background-color: #f5f5f5;
}

.course-14 {
    font-size: 18px;
    text-align: left;
    padding-top: 120px;
    padding-left: 50px;
    font-weight: bold;
    /* background-color: #ffd61a; */
}

.course-15 {
    font-size: 16px;
    padding-left: 50px;
    padding-top: 40px;
    line-height: 30px;
    text-align: left;
    /* background-color: aqua; */
}

/* ニュース */
#news {
    font-size: 24px;
    font-weight: bold;
    /* margin-top: 60px;    */
}

.news-2 {
    margin-top: 30px;
    margin-bottom: 60px;
}

.news-3 {}

.news-4 {}

.news-5 {
    display: flex;
    /* background-color: aquamarine; */
}

.contact-btn {
    margin-top: 60px;
    width: 200px;
    height: 40px;
    font-size: 18px;
    background-color: #ffd61a;
    color: white;
    border-color: #ffd61a;
}

/* アクセス */
#access {
    font-size: 24px;
    font-weight: bold;
    margin-top: 60px;
}

.access-2 {
    margin-top: 30px;
    margin-bottom: 60px;
}

.access-3 {
    border-bottom: none;
    border-top: none;
    width: 240px;

}

.access-4 {
    border-bottom: none;
    border-left: none;
    border-top: none;
    width: 360px;
    height: 30px;
    text-align: left;
}

.access-5 {
    margin: 0 auto;
    width: 600px;
    text-align: left;
    margin-top: 60px;
}

/* コンタクト */
#contact {
    font-size: 24px;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 30px;
}

.contact-2 {
    margin-top: 60px;
    margin-bottom: 30px;
}

.contact-3 {
    margin-bottom: 70px;
}

.contact-4 {
    margin: 0 auto;
    width: 600px;

}

th {
    border-bottom: black 1px solid;
    border-top: black 1px solid;
    width: 240px;
    vertical-align: middle;
}

td {
    border-bottom: black 1px solid;
    border-left: black 1px solid;
    border-top: black 1px solid;
    width: 440px;
    height: 50px;
    text-align: left;
    vertical-align: middle;
}

/* フッター */
#footer {
    background-color: #707070;
    margin-top: 140px;
}

.footer-2 {
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
}